@page
@model ServicesStatusWebApp.Pages.ServicesListModel
@{
    ViewData["Title"] = "ServicesList";
}

<button class="btn btn-primary" onclick="hideAll()">Zwiń wszystkie</button>
<button class="btn btn-primary" onclick="showAll()">Rozwiń wszystkie</button>

<table class="table" id="servicesTable">
    @foreach(var category in Model.ServiceCategories)
        {
        <tr>
            <td>
                <table class="category-table">
                    <tr class="category-row">
                        <th>
                            @category.Name
                            <span class="glyphicon glyphicon-ok" id="@category.Name"></span>
                        </th>

                    </tr>
                    @foreach (var service in category.Services)
                    {
                    <tr class="service-row">
                        <td>                    @service.Name<span class="service-status" id="@service.ServiceDeskId">Operational</span></td>
                            
                        </tr>
                    }
                </table>
            </td>
        </tr>
     }


</table>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/services.js"></script>