@page
@model ServicesStatusWebApp.Pages.ServicesListModel
@{
    ViewData["Title"] = "ServicesList";
}

<h2>ServicesList</h2>

<table class="table" id="servicesTable">
    @foreach(var category in Model.ServiceCategories)
        {
        <tr>
            <td>
                <table class="category-table">
                    <tr class="category-row ok" id="@category.Name">
                        <th>@category.Name</th>
                    </tr>
                    @foreach (var service in category.Services)
                    {
                        <tr class="service-row ok" id="@service.ServiceDeskId">
                            <td>@service.Name</td>
                        </tr>
                    }
                </table>
            </td>
    </tr>
            
        }


</table>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/services.js"></script>